@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PetFinder</h1>
    <table>
        <tr>
            <td>
                <a asp-area="" asp-controller="Posts" asp-action="CreatePost">
                    <img src="~/img/SeenDog.png" class="indeximage">
                    <div class="overlay">
                        <h2>
                            I've seen a lost pet
                        </h2>
                    </div>
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Posts" asp-action="SeenPets">
                    <img src="~/img/Lost-pet.jpg" class="indeximage">
                    <div class="overlay">
                        <h2>
                            I've lost my pet
                        </h2>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>



