@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-center">
        <h1 class="display-4">Welcome to PetFinder</h1>


        <table>

        <tr>
            <td>
                <div class="indexcontainer">
                    <img src="~/img/SeenDog.png" class="indeximage">
                    <div class="overlay"><h2>I've seen a lost pet</h2></div>
                </div>
            </td>
            <td><div class="indexcontainer">
    <img src="~/img/Lost-pet.jpg" class="indeximage">
    <div class="overlay">I've lost my pet</div>
</div></td>
        </tr>

        </table>

    </div>
            

</div>


