@{
    ViewData["Title"] = "Home Page";
}
    
<div class="text-center">
    <h1 class="display-4">Welcome to PetFinder</h1>

    <div class="row">
        <div class="column">
            <div class="indexcontainer">
                <img src="~/img/SeenADog.jpg" class="image">
                <div class="overlay">I've seen a lost pet</div>
            </div>
        </div>
        <div class="column">
            <div class="indexcontainer">
                <img src="~/img/Lost-pet.jpg" class="image">
                <div class="overlay">I've lost my pet</div>
            </div>
        </div>
    </div>
</div>


